body.black-on-white{
    color-scheme: light;
    --background-one: #ffffff;
    --background-two: #333333;
    --background-two-faded: #33333377;
    --foreground-one: #000000;
    --foreground-one-faded: #00000077;
    --foreground-two: #555555;
    --foreground-two-faded: #55555577;
    --foreground-three: #ff0000;
    --foreground-three-faded: #ff000077;
    --foreground-four: #4444ff;
    --foreground-four-faded: #0000ff77;
    --foreground-five: #aaaaff;
    --foreground-five-faded: #0000ff77;

    --clickable-hover: #990000;
    --clickable-active: #ff0000;

    --positive-color: #00ff00;
    --positive-color-faded: #00ff0077;
    --negative-color: #ff0000;
    --negative-color-faded: #ff000077;
}
body.two-shades-of-gray{
    color-scheme: light;
    --background-one: #111111;
    --background-two: #444444;
    --background-two-faded: #44444477;
    --foreground-one: #eeeeee;
    --foreground-one-faded: #eeeeee77;
    --foreground-two: #444444;
    --foreground-two-faded: #44444477;
    --foreground-three: #ff0000;
    --foreground-three-faded: #ff000077;
    --foreground-four: #4444ff;
    --foreground-four-faded: #0000ff77;
    --foreground-five: #aaaaff;
    --foreground-five-faded: #0000ff77;

    --clickable-hover: #ff8888;
    --clickable-active: #ff0000;

    --positive-color: #00ff00;
    --positive-color-faded: #00ff0077;
    --negative-color: #ff0000;
    --negative-color-faded: #ff000077;
}
body.white-on-black{
    color-scheme: dark;
    --background-one: #000000;
    --background-two: #111111;
    --background-two-faded: #11111177;
    --foreground-one: #ffffff;
    --foreground-one-faded: #ffffff77;
    --foreground-two: #888888;
    --foreground-two-faded: #88888877;
    --foreground-three: #ff0000;
    --foreground-three-faded: #ff000077;
    --foreground-four: #4444ff;
    --foreground-four-faded: #0000ff77;
    --foreground-five: #aaaaff;
    --foreground-five-faded: #0000ff77;

    --clickable-hover: #ff8888;
    --clickable-active: #ff0000;

    --positive-color: #00ff00;
    --positive-color-faded: #00ff0077;
    --negative-color: #ff0000;
    --negative-color-faded: #ff000077;
}