#countdown {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: min(5vh, 5vw);
    font-family: 'Digital Dream Regular';
    font-weight: 900;
    color: var(--foreground-three);

    background-color: var(--background-one-faded);
}