.center-wrapper.form-connection *{
    font-size: min(5vw, 5vh);
}

.center-wrapper.form-connection h1{
    font-size: min(15vw, 8vh);
}

input {
    outline: var(--foreground-two) var(--iunit) solid;
    max-width: 100vw;
}
input:active{
    outline: var(--foreground-two) calc(var(--iunit) * 2) solid;
}

input.invalid {
    outline: var(--foreground-three) var(--iunit) solid;
}

input.invalid:active{
    outline: var(--foreground-three) calc(var(--iunit) * 2) solid;
}

.center-wrapper.form-connection h1 {
    display:flex;
}

.center-wrapper.form-connection h1 > div > span {
    color: var(--foreground-three)
}

.center-wrapper.form-connection h1 > span.id{
    display: inline;

}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-end {
    justify-content: end;
}

/* For someone who you're connected to */
.center-wrapper.form-connection ul > li.connected {
    color:var(--positive-color)
}

li.owner{
    color:var(--foreground-three)
}

.no-access {
    pointer-events: none;
    user-select: none;

    filter: blur(calc(var(--iunit) * 2));
}