input {
    outline: var(--foreground-two) var(--iunit) solid;
}
input:active{
    outline: var(--foreground-two) calc(var(--iunit) * 2) solid;
}

input.invalid {
    outline: var(--foreground-three) var(--iunit) solid;
}

input.invalid:active{
    outline: var(--foreground-three) calc(var(--iunit) * 2) solid;
}

.center-wrapper.form-connection h1 {
    display:flex;
}

.center-wrapper.form-connection h1 > span {
    color: var(--foreground-three)
}

.center-wrapper.form-connection h1 > span.id{
    display: inline;

}

/* For someone who you're connected to */
.center-wrapper.form-connection ul > li.connected {
    color:var(--positive-color)
}