:root {
    --iunit: calc(0.002 * 50vw);
}

@media screen and (orientation:landscape) {
    :root{
        --iunit : 0.2vh;
    }
}

@media screen and (orientation:portrait) {
    :root{
        --iunit : 0.2vw;
    }
}