@font-face {
    font-family: 'Digital Dream Regular';
    src: url('../fonts/DigitalDreamRegular.eot');
    src: url('../fonts/DigitalDreamRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DigitalDreamRegular.woff2') format('woff2'),
        url('../fonts/DigitalDreamRegular.woff') format('woff'),
        url('../fonts/DigitalDreamRegular.svg#DigitalDreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

:root {
    color-scheme: light;
    transition: 1s;


    --background-one: #111111;

    --foreground-one: #ffffff;
    --foreground-two: #ff8888; /*Will generally be for clickable hovers*/
    --foreground-three: #ff0000; /*Will generally be for clickable actives*/
}

html, body, #root {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background-one);
    animation: opacity0to1 1s;
    overflow: hidden;
}

* {
    border: 0;
    margin: 0;
    padding: 0;

    color: var(--foreground-one);
    background-color: transparent
}

.digital-dream {
    font-family: "Digital Dream Regular", Courier, monospace;
}

@keyframes opacity0to1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*****************************
******** Clickables **********
*****************************/

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color:var(--foreground-two)
}

.clickable:active {
    color:var(--foreground-three)
}



/* testing */
button, input {
    border: black solid 1px;
}
button:hover{
    background-color: lightgreen;
}
button:active{
    background-color: green;
}
