@font-face {
    font-family: 'Digital Dream Regular';
    src: url('../fonts/DigitalDreamRegular.eot');
    src: url('../fonts/DigitalDreamRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DigitalDreamRegular.woff2') format('woff2'),
        url('../fonts/DigitalDreamRegular.woff') format('woff'),
        url('../fonts/DigitalDreamRegular.svg#DigitalDreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

:root {
    color-scheme: dark;
    --background-one: #ffffff;

    --foreground-one: #000000;
}

html, body, #root {
    height: 100%;
    width: 100%;
    animation: opacity0to1 1s;
}

* {
    border: 0;
    margin: 0;
    padding: 0;

    /* user-select: none;
    font-family: "Digital Dream Regular", Courier, monospace;
    font-style: normal;
    font-weight: normal; */
        
}



/* testing */
button, input {
    border: black solid 1px;
}
button:hover{
    background-color: lightgreen;
}
button:active{
    background-color: green;
}


@keyframes opacity0to1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}