@font-face {
    font-family: 'Digital Dream Regular';
    src: url('../fonts/DigitalDreamRegular.eot');
    src: url('../fonts/DigitalDreamRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DigitalDreamRegular.woff2') format('woff2'),
        url('../fonts/DigitalDreamRegular.woff') format('woff'),
        url('../fonts/DigitalDreamRegular.svg#DigitalDreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

:root {
    color-scheme: light;
    transition: 1s;


    color-scheme: light;
    --background-one: #ffffff;
    --background-two: #333333;
    --background-two-faded: #33333377;
    --foreground-one: #000000;
    --foreground-one-faded: #00000077;
    --foreground-two: #555555;
    --foreground-two-faded: #55555577;
    --foreground-three: #ff0000;
    --foreground-three-faded: #ff000077;

    --clickable-hover: #ff8888;
    --clickable-active: #ff0000;
}

html, body, #root {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background-one);
    animation: opacity0to1 1s;
    overflow: hidden;
}

* {
    border: 0;
    margin: 0;
    padding: 0;

    color: var(--foreground-one);
    background-color: transparent
}

.digital-dream {
    font-family: "Digital Dream Regular", Courier, monospace;
}

@keyframes opacity0to1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*****************************
******** Clickables **********
*****************************/

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color:var(--clickable-hover)
}

.clickable:active {
    color:var(--clickable-active)
}

