:root {
    
    /* The below two variables will be determined by js   */
    --full-block: 5vw; 
    --map-transform: translate(-50%, -50%);
}

.map-container {
    position: absolute;
    transform: var(--map-transform);
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    user-select: none;
    pointer-events: none;

    /* filter: blur( 2px ); */
}

.row {
    display: flex;
    flex-direction: row;
}

.tile {
    background-color: rgba(var(--netural), .3);

    position: relative;
    width: var(--full-block);
    height: var(--full-block);
}

.tile.override {
    width: var(--full-block-override);
    height: var(--full-block-override);
}

.tile.blank {
    background-color: transparent;
}


/* edge container (full edge) */
.edge {
    position: absolute;
    
    display: flex;
    flex-direction: row;

    width: 100%;  /* Edge length */
    height: 10%;  /* Edge thickness*/
}

.edge.horizontal {
    transform:translate(0, -50%);
}
.edge.vertical {
    transform:translate(-50%, -50%) rotate(90deg) translate(50%, 0%);
}

.edge.vertical.end {
    transform:translate(50%, -50%) rotate(90deg) translate(50%, 0%);
    right: 0px;
}

.edge.horizontal.end {
    transform:translate(0, 50%);
    bottom: 0;
}



/* Half edges */
.half-edge {
    /* of two halves, growth will take each half length to 50% */
    flex-grow: 1;
    height: 100%; /* Half edge thickness should occupy container*/

    clip-path: polygon(
        0%      50%,

        15%     0%,
        /* change X to 101% to fill edge.. not sure fully why */
        100%    0%,
        100%    100%,

        15%     100%
      );
}

.half-edge.end{
    transform: rotate(180deg);
}

.character-blob {
    transition: 1s;
}
.character-blob {
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(var(--full-block) * 0.25);
    height: calc(var(--full-block) * 0.25);

    background-color: var(--background-one);
}
.character-blob.override{
    width: calc(var(--full-block-override) * 0.25);
    height: calc(var(--full-block-override) * 0.25);
}

.character-blob > .inner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 97%;
    height: 97%;
}
