:root{
    --splash-title-height: calc(40 * var(--iunit));
    --splash-square: calc(33.5 * var(--iunit));
}

.splash-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-container > h1 {
    font-family: "Digital Dream Regular", Courier, monospace;
    font-style: normal;
    font-weight: normal;

    position: relative;
    line-height: var(--splash-title-height);
    font-size: var(--splash-title-height);
    text-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

h1 > div.splash-square-wrapper{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: var(--splash-square);
    height: var(--splash-title-height);
}
h1 > div.splash-square-wrapper > .map-container{
    width: var(--splash-square);
    height: var(--splash-square);
    position: relative;
    top: 3%;
    left: 0;
    transform: none;
}

div.splash-container > h1 > span.second{
    margin-left: calc(6 * var(--iunit));
}